/* Css Reset */

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}


/* Navigaion Bar */

#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

/* Navigaion Bar: Logo and Images */

#logo{
    margin: 20px 20px;
}

#logo img{
    height: 90px;
    margin: -15px 5px;
}


/* Navigaion Bar: List Stying*/

#navbar ul{
    display: flex;
}


#navbar ul li{
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    
}


#navbar ul li a{
    display: block;
    color: white;
    text-decoration: none;
    border-radius: 20px ;
    margin: 10px 10px;
    padding: 10px 10px
}

#navbar ul li a:hover{
    /* color: black; */
    background-color: rgb(46, 44, 44);
}

/* Sections */

/* Home Section */
#Home{
    display: flex;
    flex-direction: column;
    height: 500px;
    padding: 0px 200px;
    justify-content: center;
    align-items: center;
}

#Home::before{
    content: "";
    background:url(../img/bg/bg.jpg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

#Home h1{
    color: white;
    text-align: center;
}
#Home p{
    color: white;
    text-align: center;
    padding: 3px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
}

/* Consoles Section */

#vidsg{
    margin:70px 10px 15px 10px;
    padding: 130px 20px 20px 20px;
    display: flex;
}

#vidsg .box{
    display: flex;
    /* border: 2px solid red; */
    /* padding: 40px 10px 40px 0px; */
    padding: 35px 100px 30px 6px;
    /* border-radius: 10px; */
    background-color:#f5f5f5 ;
    margin: 15px 8px;
    align-items:center;
    font-family:'Times New Roman', Times, serif;
}
#vidsg img{
    height: 90px;
}

#cont img{
    height: 70px;
    padding: 35px 35px;
}

#vidsg .box:hover{
    background-color:#e9e9e9 ;
    cursor: pointer;
}

/* Partner Section */

#partners-section{
    height: 200px;
}
#partners{
    display: flex;
    justify-content: center;
    align-items: center;
}

.partner-item{
    padding:50px ;
}
.partner-item:hover{
    background-color: rgb(241, 240, 240);
}
#partners img{
    height: 40px;
}

/* Contact section */
#contact-section{
    display: flex;
    border: 2px solid rgb(202, 202, 202);
    height: 400px;
    margin: -50px 10px 10px 10px;

}
       /* contacts */
#contacts{
    display: flex;
    /* justify-content:center; */
     /* align-items: center; */
}

.contact-items{
    margin: 45px 70px 22px 30px;
    padding: 20px 20px 20px 20px;
}
.contact-items p{
    /* font-family: 'Secular One', sans-serif; */
    font-family: 'Spartan', sans-serif;
}
.contact-items p#light{
   
    font-size: 13px;
}
.contact-items p#bold{
    
    font-size: 13px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.contact-items p#normie{
    font-family: 'Titillium Web', sans-serif;  
    font-size: 13px;
    font-weight: bold;
    
}
.contact-items h4{

    font-family: 'Spartan', sans-serif;
}

#contacts img{
    background-color: #444444;
    border-radius: 10px;
    height: 110px;
}

        /* Usefull Links */

#Useful-Links{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    height: 311px;
    width: 223px;
    justify-content: center;
    align-items: flex-start;
    margin: 16px -175px -99px 145px;
}

#Useful-Links li{
    list-style:none;
    padding:1px 19px 12px 20px;
    font-size: 12px; 
    font-family: 'Arimo', sans-serif;
}
#Useful-Links li:hover{
    background-color: #e9e9e9;
}

#Useful-Links li.bold{
    color: #414141;
    font-size: larger;
}


        /* Customer Care */

        #CC{
            display: flex;
            flex-direction: column;
            /* border: 2px solid red; */
            height: 295px;
            width: 300px;
            /* justify-content: flex-start; */
            align-items: flex-start;
            margin: 60px 19px -99px 178px;
            padding: 20px 20px 20px 20px;
        }
        
        #CC li{
            list-style:none;
            padding:1px 19px 12px 20px;
            font-size: 12px; 
            font-family: 'Arimo', sans-serif;
        }
        #CC li:hover{
            background-color: #e9e9e9;
        }
        
        #CC li.bold{
            color: #414141;
            font-size: larger;
        }


/* Utility Classes */

.h1-p{
    font-size: 3rem;
    padding: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn{
    padding: 10px 20px;
    margin: 20px;
    background-color: rgb(46, 44, 44);
    border: 3px solid white;
    border-radius: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: white;
}
.btn:hover{
    background-color:rgb(68, 67, 67) ;
    cursor: pointer;
    opacity: 0.4;
}

/* footer */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 50px;
    color: rgb(223, 223, 223);
    opacity: .8;
    font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: small;
}